#main-menu-container {
    background-image: url("project://database/Assets/Art/Textures/Main%20Menu%20Background.png?fileID=2800000&guid=1d968f4bb3185e54c81c964f45383086&type=3#Main Menu Background");
    -unity-background-image-tint-color: rgba(60, 0, 0, 0.784);
    align-self: flex-end;
    height: 100%;
    width: 500px;
    margin-right: 75px;
}

Button {
    background-image: url("project://database/Assets/Art/Textures/button.png?fileID=2800000&guid=231b7ca0a2b2e16459fa7f499756df0f&type=3#button");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    width: 350px;
    height: 75px;
    -unity-background-image-tint-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-top: 1px;
    transition-duration: 125ms;
    transition-timing-function: ease-in-out;
}

#logo {
    background-image: url("project://database/Assets/Art/Textures/Bloodhollow%20Logo.png?fileID=2800000&guid=abe35ad7f4d090244a597c43bc9145d7&type=3#Bloodhollow Logo");
    height: 333px;
}

#button-container {
    align-self: center;
    padding-top: 100px;
}

* {
    -unity-font-definition: url("project://database/Assets/UI/Fonts/Labrada-VariableFont_wght%20SDF.asset?fileID=11400000&guid=720f32118fe0cce4a8dcedbebe353cea&type=2#Labrada-VariableFont_wght SDF");
}

Button:hover {
    -unity-background-image-tint-color: rgb(34, 34, 34);
    color: rgb(186, 0, 0);
}

Button:active {
    color: rgb(255, 0, 0);
    -unity-background-image-tint-color: rgb(26, 26, 26);
}
